# Dependencies
node_modules/

# Next.js build outputs
.next/
out/
.next/cache/

# Turbo / Vercel
.turbo/
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.swp
.eslintcache
.idea/
.vscode/
coverage/
dist/
build/
